#footer {
  background: var(--bg-accent);
}
#footer .wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0px;
}

#footer .handles-container {
  margin-top: 30px;
}

#footer .route {
  display: flex;
  margin: 10px 0;
  cursor: pointer;
  transition: var(--transition);
}

#footer .route:hover {
  color: var(--primary);
}

#footer .copyright {
  flex-direction: column;
  padding: 0 20px 50px 20px;
  text-align: center;
}

/* RESPONSIVENSS */

@media (max-width: 800px) {
  #footer .wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
}

@media (max-width: 500px) {
  #footer .wrapper {
    grid-template-columns: 100%;
    gap: 40px;
  }

  #footer .logo,
  #footer .handles-container {
    justify-content: center;
  }

  #footer .title,
  #footer .route {
    text-align: center;
  }
}
